* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
   
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  
  @media screen and (max-width: 720px) {
    h2 {
      font-size: 30px;
    }
      .flex-container {
        font-size: 10px;
        flex-direction: column;
      }
  
  }
  