.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


body {
    font-family: "Lato", sans-serif;
  }

/*---------------------------------------------------------------------------*/
h1 {
  color: aquamarine;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*---------------------------------------------------------------------------*/


.perfil {
    width: 300px;
    margin-left: 30%;
    border-radius: 50%;
    margin-top: 10px;

}
.perfil:hover  {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}



.section {
    margin-left: 40px;
} 




.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    /*background-color: blue;*/
    padding: 10px;
   
  }
  
  .grid-container > div {
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    animation-name: example;
    animation-duration: 4s;
  }

  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  


/*---------------------------------------------------------------------------*/
  .grid-container > div {
    position: relative;
    animation: mymove 5s;
    animation-fill-mode: forwards;
  }

  .espaco {animation-timing-function: linear;}
  
  @keyframes mymove {
    from {left: -100%;}
    to {left: 1px;}
  }
/*---------------------------------------------------------------------------*/
  



  /*--------------------------------------------------------------*/
  .grid-container2 {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    /*background-color: blue;*/
    padding: 10px;
     /*add shadow;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .grid-container2 > p {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }
  /*--------------------------------------------------------------*/



.espaco {
    padding: 10px;
    
}

.img {
  width: 100px;
  background: red;
  transition: width 2s;
}

.img:hover {
  width: 100%;
  }





/*navbar */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}



