
body {
    font-family: "Lato", sans-serif;
  }

/*---------------------------------------------------------------------------*/
h1 {
  color: aquamarine;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*---------------------------------------------------------------------------*/




/*--------------------------PERFIL-------------------------------------------*/
.perfil {
    width: 300px;
    margin-left: 30%;
    border-radius: 50%;
    margin-top: 10px;

}
.perfil:hover  {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/*---------------------------------------------------------------------------*/


.section {
    margin-left: 40px;
} 





.espaco {
    padding: 10px;
    
}


/*--------------------IMG DA GRID--------------------------------------------*/
.img {
  width: 100px;
  background: red;
  transition: width 2s;
}

.img:hover {
  width: 100%;
  }
/*---------------------------------------------------------------------------*/






/*--------------------CONTEUDO ONDE TUDO ESTA DENTRO--------------------------*/
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/*---------------------------------------------------------------------------*/



cite {
  border-bottom: 1px solid;
}