body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }


  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  

.perfil {
    width: 300px;
    margin-left: 30%;
    border-radius: 50%;

}
.perfil:hover  {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}



.section {
    margin-left: 40px;
} 




.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    /*background-color: blue;*/
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }




.espaco {
    padding: 10px;
}

.img:hover {
 width: 100%;
  }





