/*---------------------------sidebar------------------------------*/
/*quando for 700px ou menor*/
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
/*links do sidebar*/
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/*---------------------------------------------------------------*/






/*---------------------------blocos------------------------------*/
/*If the screen size is 600px or less , minima largura*/
@media screen and (max-width: 600px) {
    .grid-container {
        display: block;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        /*background-color: blue;*/
        padding: 10px;
      }
}

/*If the screen size is 414px or less , tirar cor*/
@media screen and (max-width: 418px) {
  
    .grid-container {
        display: block;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        /*background-color: blue;*/
        padding: 10px;
      }
      
      .grid-container > div {
        background-color: transparent;
        border: none;
        text-align: center;
        font-size: 30px;
      }
    
}
/*-----------------------------------------------------------------*/






/*---------------------------perfil em 700px ou menor, diminuir------------------------------*/
@media screen and (max-width: 700px) {
  .perfil {
    width: 200px;
    margin-left: 30%;
    margin-top: 30px;
    border-radius: 50%;
  
  }
}
/*--------------------------------------------------------------------------------------------*/
